/*header*/
.header-text{
    display: flex;
    text-decoration: none;
    text-align: center;
}
a{
    text-decoration: none;
    transition: 2000ms;
    font-size: 50px;
    color: black;
}
#pc{
    margin: 20px;
}
#pc:hover{
    margin-left: 100px;
    margin-right: 100px;
}
#icon-bi{
    width: 230px;
}
#icon-shool{
    margin: 40px;
}
#icon-shool:hover{
    margin-left: 100px;
    margin-right: 100px;
}
#icon-cas{
    width: 230px;
}
.header div div img{
    transition: 2000ms;
}
.header div{
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0%;
}
.header-img{
    text-align: center;
}
/*contenido principal*/
.por-main{
    border: 3px solid black;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    zoom: 100%;
    border-radius: 40px;
    transition: 1000ms;
}
.por-main:hover {
    border-radius: 80px;
    background: rgb(248, 251, 253);
}
.por-main div{
    margin: 20px;
    border: black 1px solid;
    display: inline-flex;
    width: 40%;
    height: 200px;
    transition: 900ms;
    background: rgb(255, 255, 255);
    border-radius: 20px;
}
.por-main div:hover{
    border-radius: 100px;
    background: rgb(255, 199, 199);
    margin: 35px;
}
hr{
    margin-bottom: 60px;
    transition: 1000ms;
    border-radius: 5px;
}
hr:hover{
    width: 60%;
}
/*contenido de proyectos*/
@media (min-width: 20cm){
    .por-main div{
        display: flexbox;
        height: 120px;
        width: 300px;
        margin: 30px;
    }
    .por-main div h2 a{
        text-align: center;
        font-size: 35px;
    }
    .por-main div {
        text-align: center;
    }
    .por-main div h2{
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .por-main div h2 a:hover{
        text-align: center;
        font-size: 37px;
    }
}
body{
    background: rgb(245,218,189);
}