.nav div{
    display: flex;
    text-align: center;
}
.main-2{
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 60px;
}
.main-1{
    margin-left: 50px;
}
.main-1 h1{
    margin: 30px;
}
a{
    text-decoration: none;
    color: snow;
    font-size: 40px;
    transition: 2000ms;
}
body{
    background: #282c34;;
}
h1{
    color: seashell;
    text-align: center;
    font-size: 40px;
    transition: 2000ms;
    font-family: hmain;
}
hr:hover{
    width: 60%;
    transition: 2000ms;
}
hr{
    transition: 2000ms;
    margin-bottom: 60px;
}
.body-main{
    border: white 3px solid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    transition: 1500ms;
}
p{
    color: white;
}
.body-main div{
    display: flex;
    margin: 20px;
}
.body-main div img{
    border-radius: 3px;
    margin: 20px;
    transition: 2000ms;
}
.body-main div img:hover{
    margin: 30px;
}
p{
    font-size: 33px;
}
.body-main:hover{
    border-radius: 60px;
}
#cerrar:hover{
    background: rgb(95, 10, 10);
    border-radius: 40px;
    transition: 700ms;
}
#cerrar{
    border-radius: 10px;
    border: red solid 3px;
    padding: 10px;
    transition: 700ms;
}
.hvr-radial-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #771313;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
    color: white;
  }
  .hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }